$colorWhite: #ffffff;
$colorLightGray: #f9f9f9;
$colorGray: #888888;
$colorBlue3: #646cff;
$colorBlue2: #535bf2;
$colorBlue1: #747bff;
$colorDarkBlue3: #213547;
$colorDarkBlue2: #242424;
$colorDarkBlue1: #1a1a1a;
