$colorWhite: #ffffff;
$colorLightGray: #f9f9f9;
$colorGray: #888888;
$colorBlue3: #646cff;
$colorBlue2: #535bf2;
$colorBlue1: #747bff;
$colorDarkBlue3: #213547;
$colorDarkBlue2: #242424;
$colorDarkBlue1: #1a1a1a;
$colorBlack: #000000;

%container {
  background: $colorDarkBlue1;
  border-radius: 8px;
  padding: 8px;
  margin: 8px 0;

  @media (prefers-color-scheme: light) {
    background: $colorLightGray;
  }
}
